@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

*{
    margin: 0px;
    padding: 0px;
    

}
body{
    background-image:url(./index.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
   
    
    
}

h1{
    color:white;
    font-family: 'Architects Daughter', cursive;
    font-size: 30px;
    text-shadow:5px 3px 3px rgb(185, 178, 178);
    
    
    
}
input{
    display: block;
    float: right;
    
}


.btn{
    font-family: 'Architects Daughter', cursive;
    
}


.table{
   
    font-size: 20px;
    font-weight: bold;
    font-family: 'Architects Daughter', cursive;
    box-shadow: 0 8px 22px #000000;
    background-color: white;
    
}
